
<div class="product_sidebar">  
  {% section 'sidebar-category' %}  
  {% section 'product-sidebar-deals' %}
  {% section 'sidebar-bestsellers' %}  
  {% section 'sidebar-promoimage' %}
  {% section 'custom-text-type-1' %}
</div>
